{{define "bodyClass"}} 
{{ path.Dir .Page.FirstSection.File.Path }} page 
{{end}}
{{define "body"}}
<main>
  {{$img := .Resources.GetMatch "cover.*"}}
  {{ if $img }}

  <picture>
    <!-- Max size is 1496 -->
    <source srcset="{{($img.Fill "750x250 smart webp").Permalink}}, {{($img.Fill "1500x500 smart webp").Permalink}} 2x" type="image/webp"
    sizes="(max-width: 480px) 100vw, (max-width: 900px) 50vw, 1496px">
    <img src="{{($img.Fill "1500x500").Permalink}}" alt="Image"
      srcset="{{($img.Fill "3000x1000").Permalink}} 2x">
  </picture>


  {{ end }}
  {{with .Title}}
    <h1>
      {{.}}
    </h1>
  {{end}}
  {{if .Param "toc"}}
    <h2>Table of Contents</h2>
    {{.TableOfContents}}
  {{end}}
  <div class="content">
    {{.Content}}
  </div>
</main>
{{end}}
